<!-- 定义一个最小静态页面 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="nav">
        <a href="#">国际大牌</a>
    </div>
    <div class="goods">
        <div class="item">
            <img src="./images/image1.png" alt="img">
            <p class="info">Chanel香奈儿香水女士发香喷雾邂逅清新淡香水可可小姐五</p>
            <span class="price">￥338.00</span>
        </div>
    </div>
</body>
</html>